
/* MainPage.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.main-page {
  display: flex;
}

.content {
  flex: 1;
  padding: 1rem;
}

.table{
  display: flex;
  flex-direction: column;
  background-color: 3px solid red;
}
