/* MainPage.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.main-page {
  display: flex;
}

.sidebar {
  background-color: #333;
  color: white;
  width: 250px;
  min-height: 100vh; /* Make the sidebar full height */
  padding: 1rem;
}

.content {
  flex: 1;
  padding: 1rem;
}

.table{
  display: flex;
  flex-direction: column;
  background-color: 3px solid red;
}
